h2{
    margin-top: 170px;
}
.FormularioContacto{
    margin-top: 6px;
}
.CuadroContacto{
    position:relative ;

    margin-left: 0ch;
    margin-right: 0ch;
}
.Contacto{
    margin-bottom: 20px;
    position:relative;
  
    margin-left: 0ch;
    margin-right: 0ch;
    padding-left: 0cm;
    padding-right: 0cm;
    max-width: 5px;
}
.TituloContacto{
    margin-bottom: 20px;
    position:relative;

    margin-left: 0cm;
    margin-right: 0cm;
}
.RedesSocialesContacto{
    margin-top: 30px;
    position:relative;
    left:767px
}
.FotosComprar{

    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
    justify-items: stretch;
    justify-content:space-between ;
    align-items: center;
    display: grid;
    grid-template-columns: 360px 360px 360px 360px ;
    grid-column-gap:5px ;
    grid-template-rows: 450px 450px 450px;
    grid-row-gap:5px ;
}
img{
    transition: 0.5s;
}
.FotosComprar img:hover{
    transform:scale(1.5)

}
.TituloComprar{
    font-size: xx-large;
}
.Slogan{
    margin-top: 250px;
    font-size: x-large; 
}
.BodyIndex{
    background-color: $Naranja_Fondo;
}
.BodyMenu{
    display:inline; 
    padding: 0px;
    margin-right: 70px;
        a{
        font-size:x-large;
    }
}
body{
    background-color: $Naranja_Fondo;
}
main{
    margin-top: 150px;
} 